.category {
	width: 18rem;
	height: 20rem;
	padding: 1rem 1rem;
	border-top: thin solid var(--second-alpha-color);
	position: relative;
	background-color: var(--gray-light-color);
	background-position: center;
	display: none;
	top: 0;
	box-shadow: var(--box-shadow-one);
	opacity: 0.9;
	z-index: 100;
}
.btn-category {
	background-color: var(--gray-light-color);
	border: none;
	width: 3rem;
	position: relative;
}
.btn-category:checked + .categori-stidy {
	border-top: thin solid var(--second-alpha-color);
	display: inline-block;
}
.show-traslation-boton {
	width: 18rem;
	height: 3rem;
	div {
		position: absolute;
		right: 0;
		top: 0;
	}
}
.show-traslation {
	display: block;
	position: absolute;
	top: 0;
}
// boton check
.checkbox-container {
	display: block;
	position: relative;
	padding-left: 35px;
	margin-bottom: 12px;
	cursor: pointer;
	font-size: 22px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	input {
		position: absolute;
		opacity: 0;
		cursor: pointer;
		height: 0;
		width: 0;
	}
	span {
		position: absolute;
		top: 0;
		left: 0;
		height: 25px;
		width: 25px;
		background-color: #eee;
		border: thin solid rgba(var(--second-color-rbg), 0.2);
	}
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkmark {
	background-color: var(--second-alpha-color);
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
	background-color: #2196f3;
	background-color: var(--second-color);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
	content: '';
	position: absolute;
	display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
	display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
	left: 9px;
	top: 5px;
	width: 5px;
	height: 10px;
	border: solid white;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
