:root {
  --first-color: #d8e1ff;
  --first-alpha-color: rgba(216, 225, 255, 0.5);
  --second-color: #03071e;
  --second-color-rbg: 3, 7, 30;
  --second-alpha-color: rgba(3, 7, 30, 0.533);
  --thrid-color: #43a3d6;
  --thrid-alpha-color: rgba(67, 163, 214, 0.579);
  --white-color: #fff;
  --gray-light-color: #f3f3f3;
  --gray-color: #cccccc;
  --gray-dark-color: #666666;
  --black-color: #000000;
  --link-color: #407ba7;
  --title-color: #e4001a;
  --text-color: #222222;
  --boton-color: #e4001a;
  --fs-1: clamp(16px, 1.5vw, 3rem);
  --fs-2: clamp(10px, 2.5vw, 5rem);
  --fs-logo-1: clamp(27px, 4vw, 100px);
  --box-shadow-one: 0px 1px 2px rgba(0, 0, 0, 0.16),
		0px 2px 4px rgba(0, 0, 0, 0.12), 0px 1px 8px rgba(0, 0, 0, 0.1);
}

body {
  max-width: 1500px;
  height: 100vh;
  margin: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat Alternates', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Roboto', sans-serif;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input[type='text'] {
  width: 100%;
  border: thin solid #ccc;
  border-radius: 25px;
  font-size: 1rem;
  outline: none;
  background-color: white;
  background-image: url("/assets/img/icon/btn-rearch.svg");
  background-position: right center;
  background-size: 1.5rem;
  background-repeat: no-repeat;
  padding: 0.3rem 2rem;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  color: #30302d;
}

@media only screen and (min-width: 1024px) {
  input[type='text'] {
    height: 3rem;
    background-size: 3rem;
  }
}

input[type='text']:focus {
  background-image: url("/assets/img/icon/btn-rearch-active.svg");
}

img {
  max-width: 100%;
  height: auto;
}

p {
  line-height: 1.6;
}

h1 {
  font-size: clamp(1rem, 6vw, 2.8rem);
}

.plr {
  padding: 0 1rem;
}

label {
  font-size: var(--fs-2);
  font-weight: 600;
  font-family: 'Montserrat';
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.justifi-content-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.justifi-content-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.align-items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gap-1 {
  gap: 1rem;
}

.gap-2 {
  gap: 2rem;
}

.gap-3 {
  gap: 3rem;
}

.gap-4 {
  gap: 4rem;
}

.gap-5 {
  gap: 5rem;
}

.pr-0 {
  padding-right: 0rem;
}

.pr-1 {
  padding-right: 1rem;
}

.pr-2 {
  padding-right: 2rem;
}

.pr-3 {
  padding-right: 3rem;
}

.pr-4 {
  padding-right: 4rem;
}

.pr-5 {
  padding-right: 5rem;
}

.pl-0 {
  padding-left: 0rem;
}

.pl-1 {
  padding-left: 1rem;
}

.pl-2 {
  padding-left: 2rem;
}

.pl-3 {
  padding-left: 3rem;
}

.pl-4 {
  padding-left: 4rem;
}

.pl-5 {
  padding-left: 5rem;
}

.p-0 {
  padding: 0rem;
}

.p-1 {
  padding: 1rem;
}

.p-2 {
  padding: 2rem;
}

.p-3 {
  padding: 3rem;
}

.p-4 {
  padding: 4rem;
}

.p-5 {
  padding: 5rem;
}

.mt-0 {
  margin-top: 0rem;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mt-3 {
  margin-top: 3rem;
}

.mt-4 {
  margin-top: 4rem;
}

.mt-5 {
  margin-top: 5rem;
}

.col-1 {
  width: 8.333333333333333%;
}

.col-2 {
  width: 16.66666666666667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33333333333333%;
}

.col-5 {
  width: 41.66666666666667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33333333333333%;
}

.col-8 {
  width: 66.66666666666667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33333333333333%;
}

.col-11 {
  width: 91.66666666666667%;
}

.col-12 {
  width: 100%;
}

@media screen and (min-width: 30em) {
  .col-sm-1 {
    width: 8.333333333333333%;
  }
  .col-sm-2 {
    width: 16.66666666666667%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-4 {
    width: 33.33333333333333%;
  }
  .col-sm-5 {
    width: 41.66666666666667%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-7 {
    width: 58.33333333333333%;
  }
  .col-sm-8 {
    width: 66.66666666666667%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-10 {
    width: 83.33333333333333%;
  }
  .col-sm-11 {
    width: 91.66666666666667%;
  }
  .col-sm-12 {
    width: 100%;
  }
}

@media screen and (min-width: 48em) {
  .col-md-1 {
    width: 8.333333333333333%;
  }
  .col-md-2 {
    width: 16.66666666666667%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.33333333333333%;
  }
  .col-md-5 {
    width: 41.66666666666667%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.33333333333333%;
  }
  .col-md-8 {
    width: 66.66666666666667%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-10 {
    width: 83.33333333333333%;
  }
  .col-md-11 {
    width: 91.66666666666667%;
  }
  .col-md-12 {
    width: 100%;
  }
}

@media screen and (min-width: 62em) {
  .col-lg-1 {
    width: 8.333333333333333%;
  }
  .col-lg-2 {
    width: 16.66666666666667%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.33333333333333%;
  }
  .col-lg-5 {
    width: 41.66666666666667%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.33333333333333%;
  }
  .col-lg-8 {
    width: 66.66666666666667%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-10 {
    width: 83.33333333333333%;
  }
  .col-lg-11 {
    width: 91.66666666666667%;
  }
  .col-lg-12 {
    width: 100%;
  }
  .flex-lg-row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (min-width: 75em) {
  .col-xl-1 {
    width: 8.333333333333333%;
  }
  .col-xl-2 {
    width: 16.66666666666667%;
  }
  .col-xl-3 {
    width: 25%;
  }
  .col-xl-4 {
    width: 33.33333333333333%;
  }
  .col-xl-5 {
    width: 41.66666666666667%;
  }
  .col-xl-6 {
    width: 50%;
  }
  .col-xl-7 {
    width: 58.33333333333333%;
  }
  .col-xl-8 {
    width: 66.66666666666667%;
  }
  .col-xl-9 {
    width: 75%;
  }
  .col-xl-10 {
    width: 83.33333333333333%;
  }
  .col-xl-11 {
    width: 91.66666666666667%;
  }
  .col-xl-12 {
    width: 100%;
  }
}

.header-logo {
  grid-area: header-logo;
}

.header-title {
  grid-area: header-title;
}

.header-menu {
  grid-area: header-menu;
}

.header-whatLogin {
  grid-area: header-whatLogin;
}

.grid-header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 200px 1fr 200px;
      grid-template-columns: 200px 1fr 200px;
  grid-auto-rows: auto;
  grid-template: 'header-logo      header-title     header-title' 'header-menu      header-menu      header-menu' 'header-whatLogin header-whatLogin header-whatLogin';
}

@media only screen and (min-width: 1024px) {
  .grid-header {
    -ms-grid-columns: 20% 1fr 30%;
        grid-template-columns: 20% 1fr 30%;
    grid-template: 'header-title     header-title     header-title' 7rem 'header-logo      header-menu      header-whatLogin';
  }
}

.header-logo {
  place-self: center;
}

.logo {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo div {
  padding: 0;
}

.logo div img {
  width: 100%;
  height: 100%;
}

.logo .col-10 {
  width: calc(83.333333% - 1.5rem);
}

input[type='submit'],
.btn {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: var(--fs-1);
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0.3rem 2rem;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  border: thin solid var(--link-color);
  border-radius: 25px;
}

input[type='submit'] i,
.btn i {
  color: green;
}

input[type='submit']:hover,
.btn:hover {
  background: -webkit-gradient(linear, right top, left top, color-stop(-0.05%, #1282a2), color-stop(37.47%, #157c9a), color-stop(57.27%, #1282a2), to(#1282a2));
  background: linear-gradient(270deg, #1282a2 -0.05%, #157c9a 37.47%, #1282a2 57.27%, #1282a2 100%);
  color: var(--white-color);
}

@media only screen and (min-width: 1024px) {
  input[type='submit'],
  .btn {
    height: 3rem;
  }
}

.whatsapp strong {
  font-size: var(--fs-1);
}

.whatsapp i {
  font-size: clamp(27px, 4vw, 100px);
  background: linear-gradient(316.48deg, #23bf39 5.05%, #17b42e 37.71%, #37cd4d 65.38%, #48de60 85.85%, #5af075 111.31%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.off-canvas-btn {
  position: fixed;
  bottom: 0.5rem;
  right: 0.5rem;
  z-index: 999;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  opacity: 0;
}

.off-canvas-burger {
  position: fixed;
  bottom: 0.5rem;
  right: 0.54rem;
  z-index: 998;
  width: 3rem;
  height: 3rem;
  border-radius: 0.3rem;
  background-image: url("../img/icon/hamburger.svg");
  background-repeat: no-repeat;
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-transition: background-image .3s ease;
  transition: background-image .3s ease;
}

@media only screen and (min-width: 1024px) {
  .off-canvas-burger {
    display: none;
  }
}

.off-canvas-btn:checked + .off-canvas-burger {
  background-image: url("../img/icon/close.svg");
}

.offBtnTop {
  position: fixed;
  bottom: 0.5rem;
  right: 0.5rem;
  z-index: 999;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  /* opacity: 0.25; */
  opacity: 0;
}

.offMessage {
  position: fixed;
  bottom: 0.5rem;
  right: 3.5rem;
  z-index: 998;
  width: 3rem;
  height: 3rem;
  border-radius: 0.3rem;
  background-image: url("../img/icon/message.svg");
  background-repeat: no-repeat;
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-transition: background-image .3s ease;
  transition: background-image .3s ease;
}

.offArrow {
  position: fixed;
  bottom: 0.5rem;
  right: 0.54rem;
  z-index: 998;
  width: 3rem;
  height: 3rem;
  border-radius: 0.3rem;
  background-image: url("../img/icon/topActive.svg");
  background-repeat: no-repeat;
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-transition: background-image .3s ease;
  transition: background-image .3s ease;
}

.offBtnTop:hover {
  background-image: url("../img/icon/topActive.svg");
}

.offBtnTopClose:hover + .offArrow {
  background-image: url("../img/icon/topActive.svg");
}

.off-canvas-menu {
  position: fixed;
  top: 10rem;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 997;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(var(--second-color-rbg), 0.9);
  -webkit-transition: -webkit-transform 500ms ease-in-out;
  transition: -webkit-transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out, -webkit-transform 500ms ease-in-out;
  -webkit-transform: translate(0, -100%);
          transform: translate(0, -100%);
  -webkit-transform: translate(0, 100%);
          transform: translate(0, 100%);
  -webkit-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
}

@media only screen and (min-width: 1024px) {
  .off-canvas-menu {
    background-color: transparent;
    position: static;
    -webkit-transform: translate(0%, 0);
            transform: translate(0%, 0);
    height: 4rem;
  }
}

.off-canvas-btn:checked ~ .off-canvas-menu {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.off-canvas-menu-container {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (min-width: 1024px) {
  .off-canvas-menu-container {
    height: inherit;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.off-canvas-link {
  position: relative;
  border-bottom: thin solid var(--first-alpha-color);
  padding: 2rem;
  font-size: 1.5rem;
  text-align: center;
  text-decoration: none;
  color: var(--first-color);
  -webkit-transition: background-color 300ms ease;
  transition: background-color 300ms ease;
}

@media only screen and (min-width: 1024px) {
  .off-canvas-link {
    color: var(--second-color);
    padding: 1rem;
  }
}

.hhhh > .off-canvas-link-hover {
  position: absolute;
  bottom: 0;
  width: 90%;
  height: 4px;
  left: 0;
  right: 0;
  margin: auto;
  background-color: red;
}

.off-canvas-link .off-canvas-link:first-child {
  border-top: thin solid var(--first-alpha-color);
}

.off-canvas-link:hover {
  background-color: var(--first-color);
  color: var(--text-color);
  font-weight: 800;
}

@media only screen and (min-width: 1024px) {
  .off-canvas-link:hover {
    background-color: transparent;
    font-weight: 800;
  }
}

.header-whatLogin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

.header-whatLogin div {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 1rem;
}

.menu-row {
  position: relative;
}

.menu-row input {
  opacity: 0;
  position: absolute;
  width: 0%;
  height: 0%;
}

.checkedMenu {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 30%;
  height: 4px;
  background-color: transparent;
  margin: auto;
}

.menu-row input:checked ~ .checkedMenu {
  background-color: #021322;
}

.category {
  width: 18rem;
  height: 20rem;
  padding: 1rem 1rem;
  border-top: thin solid var(--second-alpha-color);
  position: relative;
  background-color: var(--gray-light-color);
  background-position: center;
  display: none;
  top: 0;
  -webkit-box-shadow: var(--box-shadow-one);
          box-shadow: var(--box-shadow-one);
  opacity: 0.9;
}

.btn-category {
  background-color: var(--gray-light-color);
  border: none;
  width: 3rem;
  position: relative;
}

.btn-category:checked + .categori-stidy {
  border-top: thin solid var(--second-alpha-color);
  display: inline-block;
}

.show-traslation-boton {
  width: 18rem;
  height: 3rem;
}

.show-traslation-boton div {
  position: absolute;
  right: 0;
  top: 0;
}

.show-traslation {
  display: block;
  position: absolute;
  top: 0;
}

.checkbox-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkbox-container span {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border: thin solid rgba(var(--second-color-rbg), 0.2);
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkmark {
  background-color: var(--second-alpha-color);
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
  background-color: #2196f3;
  background-color: var(--second-color);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.main {
  width: 100%;
  height: auto;
  background-color: var(--gray-light-color);
  position: relative;
}

.produtsT {
  gap: 1rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(320px, 300px))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(320px, 300px));
  grid-auto-rows: auto;
}

@media only screen and (min-width: 600px) {
  .produtsT {
    padding: 1rem 3rem;
    -ms-grid-columns: (minmax(150px, 300px))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(150px, 300px));
  }
}

.productT-card {
  width: 100%;
  height: auto;
  background-color: var(--gray-light-color);
  background-color: white;
  -webkit-transition: -webkit-box-shadow 0.3s ease;
  transition: -webkit-box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease, -webkit-box-shadow 0.3s ease;
}

@media only screen and (min-width: 600px) {
  .productT-card {
    border-radius: 30px;
  }
}

.productT-card a {
  background-color: #81a35e;
  display: block;
  width: 100%;
  height: clamp(200px, 5vw, 500px);
  cursor: pointer;
  text-decoration: none;
}

.productT-card a img {
  width: 100%;
  height: 100%;
  -o-object-position: center;
     object-position: center;
  object-position: center;
}

.productT-card div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: clamp(8px, 2vw, 32px);
}

.productT-card div .btn {
  position: relative;
  width: 100%;
}

.productT-card:hover {
  -webkit-box-shadow: var(--box-shadow-one);
          box-shadow: var(--box-shadow-one);
}

.precio-text {
  font-family: var(--fs-2);
}

.precio-text .precio-dolar {
  color: var(--blacks-color);
  font-size: var(--fs-3);
  font-weight: 800;
}

.precio-text span {
  opacity: 0.7;
}

footer {
  background-color: var(--second-color);
  background: -webkit-gradient(linear, left top, left bottom, from(#03071e), color-stop(56.77%, #02071f), to(#03071e));
  background: linear-gradient(180deg, #03071e 0%, #02071f 56.77%, #03071e 100%);
}

footer .footer {
  text-align: center;
  padding: 0.5rem;
  font-size: 0.8rem;
  background: -webkit-gradient(linear, left top, right top, color-stop(10.37%, #f9fafc), color-stop(27.17%, #e1e8ef), color-stop(43.51%, #ebeef3), color-stop(66.85%, #e1e8ef), to(#b7c2ce));
  background: linear-gradient(90deg, #f9fafc 10.37%, #e1e8ef 27.17%, #ebeef3 43.51%, #e1e8ef 66.85%, #b7c2ce 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/*# sourceMappingURL=styles.css.map */